<html>
  <head>
    <title>Bi-directional data conversion</title>
    <link rel="stylesheet" href="index.css"></link>
  </head>

  <body>

    <h1>Bi-directional data conversion</h1>

    <table>
      <tr>
        <th></th>
        <th class="panel">User Data</th>
        <th></th>
        <th class="panel">Specification</th>
      </tr>
      <tr>
        <td>Field type</td>
        <td>
          <select id="user_field_type" onchange="javascript:validate('user');convert();validate('spec')">
            <option value="">Select field type</option>
          </select>
        </td>
        <td class="control" rowspan="3">
          convert<br/>
          <button>&lt;</button>
          <button onclick="javascript:convert()">&gt;</button>
        </td>
        <td>
          <select id="spec_field_type" onchange="javascript:convert();validate('spec')">      
            <option value="">Select field type</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>Input</td>
        <td>
          <input id="user_field_input" type="text" onkeyup="javascript:recognize('user');validate('user');convert();validate('spec')" value="" />
        </td>
        <td><input id="spec_field_input" type="text" onkeyup="javascript:validate('spec');"></td>
      </tr>

      <tr>
        <td>Unit</td>
        <td>
          <select id="user_field_unit"></select><br/>
          <input type="checkbox" disabled="disabled" />Parse unit from input (coming soon)
        </td>
        <td><select id="spec_field_unit" multiple="multiple"></select></td>
      </tr>

      <tr>
        <td>Conversion</td>
        <td colspan="3">
          <div id="conversion" class="conversion_box"></div>
        </td>
      </tr>
      <tr>
        <td><br/>Validation</td>
        <td class="validation_box"><div id="user_validation"></div></td>
        <td></td>
        <td class="validation_box"><div id="spec_validation"></div></td>
      </tr>  
      <tr>
        <td>Recognition</td>
        <td colspan="3">
          (type in user data value to start):
          <div id="message" class="recognition_box"></div>
        </td>
      </tr>
      <tr>
        <td>Test Suite</td>
        <td colspan="3">
          <div class="test_suite_wrapper">

<table id="test_suite">
  <tr>
    <th style="width:60px"></th>
    <th style="width:100px">unit</th>
    <th style="width:150px">field</th>
    <th style="width:150px">value1</th>
    <th style="width:150px">value2</th>
    <th style="width:150px">value3</th>
  </tr>
  <tbody>
    <tr> <td>user</td>  <td></td> <td>M_D_YYYY</td>  <td>1/1/1970</td>  <td>1/3/1995</td> <td>12/31/2001</td> </tr>
    <tr> <td>spec</td>  <td></td> <td>D_M_YYYY</td>  <td>1/1/1970</td>  <td>3/1/1995</td> <td>31/12/2001</td> </tr>
    <tr> <td>round</td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
  </tbody>
  <tbody>
    <tr> <td>user</td>  <td></td> <td>M_D_YYYY </td> <td>1/1/1970</td> <td>1/3/1995</td> <td>12/31/2001</td> </tr>
    <tr> <td>spec</td>  <td></td> <td>unix_date</td> <td>       0</td> <td>789091200</td> <td>1009756801</td></tr>
    <tr> <td>round</td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
  </tbody>
  <tbody>
    <tr> <td>user</td>  <td></td> <td>date_iso_8601</td> <td>1970-01-01</td> <td>1995-01-03</td> <td>12/31/2001</td> </tr>
    <tr> <td>spec</td>  <td></td> <td>unix_date    </td> <td>         0</td> <td>789091200</td> <td>1009756800</td> </tr>
    <tr> <td>round</td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
  </tbody>
  <tbody>
    <tr> <td>spec</td>  <td></td> <td>unix_date    </td> <td>         0</td> <td>789091200</td> <td>1009756801</td> </tr>
    <tr> <td>user</td>  <td></td> <td>datetime_iso_8601</td> <td>1970-01-01T00:00:00.000Z</td> <td>2020-04-26T17:02:58+00:00</td> <td>2001-12-31T00:00:01+00:00</td> </tr>
    <tr> <td>round</td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr>
  </tbody>
</table>

          </div>
        </td>
      </tr>
      <tr>
        <td>Notes</td>
        <td colspan="3">
          <ul>
            <li>Field types are organized by group.  Conversions between fields within a group involve mapping items at the same position or "index" in each field type's list of values (given as an array or function).</li>
            <li>The primitive "integer > integer" can convert across groups.</li>
            <li>A multi-component field can be <b>parsed</b> into its parts, each of which can be captured in a corresponding converted field if present. A parsing delivers substrings that can be used by other conversions.</li>
            <li>Multiple fields can be <b>synthesized</b> into a single converted field like "date - iso 8601".  A synthesis concatenates substrings from associated source fields by name.  Source fields are ordered so a synthesis can draw on respective fields to fill parts?.</li>
            <li>A target field can specify a set of defaults to swap in if matching to a source field that may not have them. E.g. "signed_int.default: {'sign':''},</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Issues/Bugs:</td>
        <td colspan="3">
          <ul>
            <li>Unix date conversion to M/DD/YYYY looses a day+? UTC? Time zone?</li>
            <li>Unix date conversion 0 to datetime ISO 8601 is messing up in seconds, millisecond (no period) and no TZD null.
            <li> regex matching of parameters that can match nothing, e.g. {integer} -> {sign}{integer}</li>
          </ul>
        </td>
      </tr>
    </table>

  </body>

<script src="js/app.js"></script>
<script src="js/units.js"></script>
<script src="js/fields.js"></script>
<script src="js/html_utils.js"></script>
<script src="js/test_suite.js"></script>

<script>
  // Mapping of field name to field object
  field_index = {}; 
  // Mapping of field group to field if it has a map
  //field_equivalence.[field_group_name][field_name] = field.decompose;
  field_equivalence = {}; 
  init_field_type();
  get_test_suite();

  // Render form elements
  render_field_type("user_field_type");
  render_field_type("spec_field_type");
  render_field_unit("user_field_unit");
  render_field_unit("spec_field_unit");  

</script>

</html>