{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genomic Epidemiology Entity Mart Form Viewer</title>
    <link rel="stylesheet" href="{% static "geem/css/foundation-docs-5.5.3.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/foundation-icons/foundation-icons.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/foundation-datepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "geem/js/chosen/chosen.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/normalize-5.5.3.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/app.css" %}">

    <script src="{% static "geem/js/vendor-5.5.3/modernizr.js" %}"></script>
  </head>
  <body>

    <div class="row">

      <!-- ************************ ONTOLOGY MENU AND SEARCH ********************* -->
      <div class="large-3 medium-3 columns" id="sidebar" style="max-height: 620px;overflow:scroll">
        <br/>
        <!--
        <ul class="vertical menu" id="entityMenu">
          <li>
            <a href="index.html">GEEM Introduction</a>
          </li>
          <li>
            <a href="portal.html">GEEM Portal</a>
          </li>
          <li class="active">
            <a href="#">GEEM Form Viewer</a>
          </li>
        </ul>

        <hr size="2"/>
        -->
        
        <div id="formSections"></div>

      </div>

      <!-- ************************ CONTENT AREA ********************* -->
      <div class="large-5 medium-5 columns" id="content" style="margin-top:25px;position:relative;border:1px solid silver; background:#F8F8F8  !important; max-height: 620px;overflow:scroll;padding-top:15px">

        <form id="mainForm" data-abide>

          <p>This GEEM form viewer can render the HTML form for a given ontology identifier (assuming it has been annotated as a GEEM specification). Simply include the identifier of the desired form, for example:</p>

          <a href="form.html#GENEPIO:0001624">form.html#GENEPIO:0001624</a><br/>
          <br/>
          
        </form>

      </div>

      <div class="large-3 medium-3 columns end" id="rightbar">
        <br/>

        <div style=";margin-right:10px;border-radius:2px;background-color:lightblue;padding:7px;position:relative">
          <div class="row">
            <div class="large-10 columns">
              
              <select id="specificationType">
                <option value="">View Specification ...</option>

                <option value="form_core_nodes.tsv">GEEM core nodes .tsv</option>
                <option value="form_core_edges.tsv">GEEM core edges .tsv</option>

                <option value="form_all_nodes.tsv">GEEM all nodes .tsv</option>
                <option value="form_all_edges.tsv">GEEM all edges .tsv</option>

                <option value="raw.json">GEEM raw.json</option>
                <option value="raw.yml">GEEM raw.yaml</option>

                <option value="form.json">GEEM form.json</option>
                <option value="form.yml">GEEM form.yaml</option>

                <!-- option value="form.html">GEEM form.html</option -->
                <option value="form_submission.json">GEEM form submission</option>

                <optiongroup label="Coming in 2018!">
                  <option value="redcap.tsv"> ... RedCap</option>
                  <option value="ontofox.txt"> ... OntoFox</option>
                </optiongroup>

              </select>
              
            </div>
            <div class="large-2 columns">
              <i class="fi-info blue tip-bottom" data-tooltip title="The specification used to make this form is available in a variety of formats."></i>
            </div>
          </div>
          
          <div class="row">&nbsp;</div>

          <div class="row">
            <div class="large-3 columns">
              
              <div class="switch tiny input-group-field"" style="margin-bottom:0px;">
                <input class="switch-input" id="toggleMinimalForm" type="checkbox" name="toggleMinimalForm">
                <label class="switch-paddle" for="toggleMinimalForm">
                  <span class="show-for-sr">Minimize form view</span>
                </label>
              </div>
            </div>

            <div class="large-7 columns">
              Minimize form view
            </div>

            <div class="large-2 columns">
              <i class="fi-info blue" data-tooltip title="When minimize form is activated, only required fields or fields with selections will show their input elements. All other fields will be shown by label only. Mousing over a minimized field label will open it to its full size for data entry."></i>
            </div>

          </div>
        </div>
          
        <br/>
        <p style="font-size:.8rem"><i>This form viewer is tested with Google Chrome v. 62; other browsers will be supported in the future. It may take time to load.</i></p>
          
      </div>
    
    </div>

    <!-- MODAL DIALOGS -->

    <div id="modalEntity" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <button id="spec_download" class="button icon fi-download" title="download" style="margin:0;border:0;cursor:pointer"> Download</button>
      <div id="modalEntityHeader"></div> 
      <div id="modalEntityContentContainer" style="border:1px solid silver"></div>
    </div>

    <a id="view_spec_download" download="this_will_be_renamed.txt" href="data:application/octet-stream;charset=utf-8;base64,Zm9vIGJhcg==" style="visibility:hidden"></a>


    <div class="row footer">
      <div class="large-12 columns text-center">
        <p>Produced by the <a href="https:www.irida.ca" target="_blank">IRIDA project</a> and <a href="https://github.com/Public-Health-Bioinformatics" target="_blank">Public Health Bioinformatics</a> in conjunction with the <a href="https://genepio.org" target="_blank">GenEpiO Consortium</a></p>
      </div>
    </div>

    <!-- Issue: Jquery for 5.5.3 triggering "TypeError: a.getAttribute is not a function" -->
    <script src="{% static "geem/js/vendor-5.5.3/jquery.js" %}"></script>
    <script src="{% static "geem/js/foundation-5.5.3/foundation.min.js" %}"></script>

    <script src="{% static "geem/js/vendor/foundation-datepicker.min.js" %}"></script>
    <script src="{% static "geem/js/vendor/what-input.js" %}"></script>
    <script src="{% static "geem/js/vendor/js-yaml.min.js" %}"></script> 
    <script src="{% static "geem/js/chosen/chosen.jquery.min.js" %}"></script>

    <script src="{% static "geem/js/geem_form.js" %}"></script>
    <script src="{% static "geem/js/geem_lookup.js" %}"></script>
    <script src="{% static "geem/js/geem_specifications.js" %}"></script>
    <script src="{% static "geem/js/geem_api.js" %}"></script>
    <script src="{% static "geem/js/geem_form_standalone.js" %}"></script>

  </body>

</html>
