{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/ico" href="{% static 'geem/images/favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genomic Epidemiology Entity Mart Prototype</title>
    <link rel="stylesheet" href="{% static "geem/css/foundation-5.5.3.min.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/foundation-icons/foundation-icons.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/foundation-datepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "geem/js/chosen/chosen.css" %}">
    <link rel="stylesheet" href="{% static "geem/css/app.css" %}">

    <script src="{% static "geem/js/vendor-5.5.3/modernizr.js" %}"></script>

    {#AgGrid#}
    <script src="https://unpkg.com/@ag-grid-community/all-modules/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/all-modules/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css">

  </head>
  <body>
    <div class="row" style="background-color:#2199e8;color:white">
      <div class="large-9 medium-9 columns text-center">
        <!-- LOGIN / LOGOUT -->
        <h3 style="color:white;padding-top:10px">Genomic Epidemiology Entity Mart Prototype</h3>
      </div>

      <div class="large-3 medium-3 columns">
        <a class="button small" href="https://github.com/GenEpiO/geem/wiki" target="_blank">Help</a>
        {% if user.username %}
          <div id="userInfo" data-user-id="{{user.id}}" style="display:none"></div>
          <a class="button small" data-tooltip href="accounts/logout" type="button" title="{{user.username}} logged in">Logout</a>

        {% else %}
          <!-- a class="button small" type="button" data-toggle="login-dropdown">Login</a> -->
        	<!-- div id="login-dropdown" class="dropdown-pane" data-dropdown data-auto-focus="true" data-options="align:left" style="min-width:100px; width:175px" -->
          <a class="button small" data-dropdown="login-dropdown" aria-controls="login-dropdown">Login</a>
          <div id="login-dropdown" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
        	  <a class="button small" href="{% url "social:begin" "github" %}">GitHub Login</a>
        	  <a class="button small" href="{% url "social:begin" "google-oauth2" %}">Google Login</a>
        	</div>
      	{% endif %}
        <!-- i class="fi-widget large">&nbsp;</i -->
      </div>
    </div>
    <br/>

    <div class="row">

      <!-- ************************ ONTOLOGY MENU AND SEARCH ********************* -->
      <div class="large-5 medium-5 columns" id="sidebar">

        <select id="selectResource"></select>

        <!-- data-options="scroll_to_content: false" data-options="deep_linking:true" -->
        <ul id="resourceTabs" class="tabs disabled" data-tab>
          <li class="tab-title"><a id="specificationSummaryTabLink" href="#panelLibrary">Summary</a></li>
          <li class="tab-title"><a href="#panelEntities">Browse</a></li>
          <li class="tab-title"><a href="#panelSearch">Search&nbsp;<i class="fi-magnifying-glass"></i></a></li>
          <li class="tab-title" id="tabPanelCartLink"><a href="#panelCart">Cart&nbsp;<i class="fi-shopping-cart" id="shoppingCartIcon"></i> </a></li>
        </ul>


        <div id="resourceTabsContent" class="tabs-content" data-tabs-content="resourceTabs"> 
          
          <!-- ******************* SPECIFICATION MENU ******************* -->
          <div class="content" id="panelLibrary">
            <div id="resourceForm"></div>
          </div>

          <!-- ******************* ENTITY MENU ********************* -->
          <div class="content" id="panelEntities"> 
            <ul class="accordion" data-accordion id="entityMenu" ></ul> <!-- data-deep-link data-multi-open="true" -->
            <!-- <ul class="vertical menu" id="entityMenu" data-accordion-menu data-deep-link data-multi-open="true"></ul> -->
          </div>

          <!-- ************************ SEARCH ********************* -->
          <div class="content" id="panelSearch">

            <form data-abide="" novalidate="novalidate" lpformnum="2">
              <input id="searchField" type="text" placeholder="Search for a term (3 characters or more)">
              <div class="input-group">
               <div class="switch tiny" style="float:left;margin-right:10px;margin-top:5px">
                  <input class="switch-input" id="toggleSearchDefinition" type="checkbox" name="toggleSearchDefinition">
                  <label class="switch-paddle" for="toggleSearchDefinition">
                    <span class="show-for-sr">Search definitions?</span>
                  </label>
                </div>
                <label class="left" for="toggleSearchDefinition" style="margin-top:5px">Search definitions?</label>
              </div>
            </form> 
            
            <form id="searchResults" style=""></form>

          </div>


          <!-- ********************** SHOPPING CART ******************* -->
          <div class="content" id="panelCart">
            <div>
              <a href="#" id="shoppingCartTrash" class="icon fi-trash" title="empty the cart"></a>
              <button class="button small" id="addToPackageButton" data-reveal-id="makePackageForm">Add to package</button>
            </div>

            <form id="shoppingCart" class="callout"></form>
            
            <div id="makePackageForm" class="reveal-modal" data-reveal class="f-dropdown content" tabindex="-1">
              <div class="input-group" >
                <label>You can add cart items to a draft package you manage</label>
                <select class="input-group-field" id="userPackages"></select>
                <p> Package must have a "draft" status in order to be modified.</p>
                <p id="makePackageWaitMessage"> Adding items... </p>
              </div>
              <button id="updatePackageButton" class="button">update</button>

            </div>

            <div id="cartInfoBox" class="infoBox">
              <p>Your entity shopping cart is displayed above. 
              You can add its items to a package.</p>

              <div style="font-size:.8rem;clear:both">
                <i>Click on an item to see its form view. Click on an item's cart to filter or remove it.</i>
                <br/>
                <br/>
                Legend: <div style="display:inline-block;vertical-align:top">
                  <i class="fi-shopping-cart include"></i> item and its descendants are included<br/>
                  <i class="fi-shopping-cart exclude"></i> descendant is filtered out<br/>
                </div>
              </div>

            </div>

          </div>

        </div>

        <br/>
       
      </div>

      <!-- ************************ CONTENT AREA ********************* -->
      <div id="mainContent" class="large-7 medium-7 columns">

        <div id="formEntityLabel"></div>

        <ul id="content-tabs" class="tabs" data-tab>
          <li class="tab-title small {% if focus == 'panelContent' %}active{% endif %}"><a href="#panelContent">Form View</a></li>
          <li class="tab-title small"><a href="#panelDataSpecification">Specification</a></li>
          <!-- <li class="tabs-title"><a href="#panelDiscuss">Discuss</a></li> -->
          <li class="tab-title small {% if focus == 'panelValidation' %}active{% endif %}"><a href="#panelValidation">Validator</a></li>
        </ul>

        <div id="tabsContent" class="tabs-content">

          <!-- ************************* FORM VIEW ******************* -->
          <div class="content {% if focus == 'panelContent' %}active{% endif %}" id="panelContent">

            <form id="mainForm" data-abide ></form> <!-- ="ajax" ; novalidate prevents HTML5 validation -->

            <!-- ************************* FORM CONTROLS ******************* -->
            <div id="formControls">

              <div class="row">
                <div class="switch tiny" style="float:left;margin-right:10px">
                  <input class="switch-input" id="toggleIdVisibility" type="checkbox" name="toggleIdVisibility">
                  <label class="switch-paddle" for="toggleIdVisibility">
                    <span class="show-for-sr">Toggle specification details</span>
                  </label>
                </div>
                <label class="left" for="toggleIdVisibility">Toggle specification details</label>
              </div>

              <div class="row">
                <div class="switch tiny" style="float:left;margin-right:10px">
                  <input class="switch-input" id="toggleMinimalForm" type="checkbox" name="toggleMinimalForm">
                  <label class="switch-paddle" for="toggleMinimalForm">
                    <span class="show-for-sr">Minimize form view</span>
                  </label>
                </div>
                <label class="left" for="toggleMinimalForm">Minimize form view (empty optional items are collapsed)</label>
              </div>

              <div class="row" style="font-size:.9rem">
                Legend: <div style="display:inline-block;vertical-align:top">
                  <i class="fi-shopping-cart include"></i> click to add item and its descendants to shopping cart<br/>
                  <i class="fi-shopping-cart exclude"></i> click to filter out descendant<br/>
                  <i class="fi-magnifying-glass" style="color:lightblue"></i> see ontology details for item<br/>
                  <input required size="2" style="height:15px;width:30px;border-radius: 4px;float:left" onclick="blur()" /> field requires a value
                </div>
              </div>

            </div><!-- end form controls -->

          </div><!-- end panel content -->

          <!-- ******************* DATA SPECIFICATION **************** -->
          <div class="content" id="panelDataSpecification">

            <div class="row collapse">
              <div class="large-9 columns">
                <select id="specificationType">
                  <option value="">Select a specification format to view or download</option>

                  <option value="form_core_nodes.tsv">GEEM core nodes .tsv</option>
                  <option value="form_core_edges.tsv">GEEM core edges .tsv</option>

                  <option value="form_all_nodes.tsv">GEEM all nodes .tsv</option>
                  <option value="form_all_edges.tsv">GEEM all edges .tsv</option>

                  <option value="raw.json">GEEM raw.json</option>
                  <option value="raw.yml">GEEM raw.yaml</option>

                  <option value="form.json">GEEM form.json</option>
                  <option value="form.yml">GEEM form.yaml</option>

                  <option value="form.html">GEEM form.html</option>
                  <option value="form_submission.json">GEEM form submission</option>

                  <!-- <optiongroup>
                    <option value="" disabled="disabled">Coming in 2018!</option>
                    <option value="redcap.tsv"> ... RedCap</option>
                    <option value="ontofox.txt"> ... OntoFox</option>
                  </optiongroup> -->

                </select>
              </div>
              <div class="large-3 columns">
                <button id="spec_download" class="button icon fi-download disabled small" title="download"> Download</button>
                <a id="view_spec_download" download="this_will_be_renamed.txt" href="data:application/octet-stream;charset=utf-8;base64,Zm9vIGJhcg==" style="visibility:hidden"></a>
              </div>

            </div>

            <pre id="dataSpecification" class="callout hide"></pre>

            <div id="helpDataSpecification" class="infoBox">
              Here a selected ontology or package specfication can be viewed and downloaded as a full list of entities, their fields, picklists and unit components.  This is available in tabular, JSON, and YAM formats.
            </div>
            <!-- The YAML view is provided as a flat format in which many items have links to others; while the YAML-tree view is more like the HTML form view, in which hierarchic items are built out. -->


          </div>

          <!-- ******************* VALIDATION **************** -->
          <div class="content {% if focus == 'panelValidation' %}active{% endif %}" id="panelValidation">

            <div class="row">
              <div class="small-6 columns">
                <form id="validation_form" action="/render_uploaded_validation_data" method="post">
                  {% csrf_token %}
                  <label for="validation_upload" class="button">Upload (.csv)</label>
                  <input type="file" id="validation_upload" class="show-for-sr">
                </form>
              </div>
              <div class="small-6 columns">
                <button id="validation_download">Download (.csv)</button>
              </div>
            </div>

            <div id="validation_grid" class="ag-theme-balham"></div>

          </div>


        <!-- ******************* DISCUSSION **************** -->
        <div class="content" id="panelDiscuss">
          
          <div class="infoBox">
            <p>Discussion about a selected ontology term occurs here. One can select a term by
            browsing or searching, or from the shopping cart.</p>
          </div>

        </div>

        <!-- ******************* Default infobox **************** -->
        <div class="infoBox" id="specificationSourceInfoBox">
          <p>The Genomic Epidemiology Entity Mart is a portal for building, reviewing and downloading GEEM annotated ontology-driven data specifications. Such specifications can be used to render reports and data entry forms, or to enforce data validation. The GEEM project ultimately aims to interface with existing databases and systems like RedCap to enable standardized, ontology-driven data collection.</p>

          <p>To start, select a GEEM specification resource from the list. This can be an "ontology package" made up of an ontology's "data representational model" items, or a public specification package someone else has shared, or one of your own private packages.</p>

          <p>Then use the "Browse Specifications" or "Search" menu to see what specifications a package provides.  Choose an item to see how it would be presented as a form or form part. Options are also provided for downloading that specification, or adding parts of it to your shopping cart, which you can then add to one of your draft packages.</p>

          <p>All other tabs focus on the selected resource. Browsing, searching and shopping for terms can only involve one version of an ontology or package at a time.</p>
        </div>


      </div>
    </div>

    <div class="row footer">
      <div class="large-12 columns text-center">
        <p>Produced by the <a href="https:www.irida.ca" target="_blank">IRIDA project</a> and <a href="https://github.com/Public-Health-Bioinformatics" target="_blank">Public Health Bioinformatics</a> in conjunction with the <a href="https://genepio.org" target="_blank">GenEpiO Consortium</a></p>
        </p>

      </div>
    </div>
    
    <!-- MODAL DIALOGS -->
    <div id="template_area">
        
      <div id="modalEntity" class="reveal-modal" data-reveal aria-hidden="true" role="dialog"> <!-- aria-labelledby="modalTitle" -->
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        <div id="modalEntityHeader"></div> 
        <div id="modalEntityContentContainer" style="border:1px solid silver"></div>
      </div>

      <!-- link is dynamically placed wherever user is mousing. -->
      <i id="displayContextButton" class="fi-magnifying-glass" data-dropdown="displayContext" data-options="is_hover:true" aria-controls="displayContext"></i>
      <div id="displayContext" data-dropdown-content class="f-dropdown content" tabindex="-1" aria-hidden="true" aria-autoclose="false"></div>

    </div>

    <script src="{% static "geem/js/vendor-5.5.3/jquery.js" %}"></script>
    <script src="{% static "geem/js/foundation-5.5.3/foundation.min.js" %}"></script>

    <script src="{% static "geem/js/vendor/foundation-datepicker.min.js" %}"></script>
    <script src="{% static "geem/js/vendor/what-input.js" %}"></script>
    <script src="{% static "geem/js/vendor/js-yaml.min.js" %}"></script> 
    <script src="{% static "geem/js/chosen/chosen.jquery.min.js" %}"></script>

    <script src="{% static "geem/js/geem_resource.js" %}"></script>
    <script src="{% static "geem/js/geem_form.js" %}"></script>
    <script src="{% static "geem/js/geem_specifications.js" %}"></script>
    <script src="{% static "geem/js/geem_validation.js" %}"></script>
    <script src="{% static "geem/js/geem_cart.js" %}"></script>
    <script src="{% static "geem/js/geem_search.js" %}"></script>
    <script src="{% static "geem/js/geem_lookup.js" %}"></script>
    <script src="{% static "geem/js/geem_api.js" %}"></script>
    <script src="{% static "geem/js/geem_portal.js" %}"></script>


  </body>

</html>
